---
layout: "default.njk"
pageTitle: "Experience"
tags: ""
---
<h2>{{ pageTitle }}</h2>
<section class="opening summary">
<p>A design engineer with over 20 years in software engineering and design, I bring a strong attention to detail and a passion for driving user experience excellence. I specialize in the creation and implementation of design systems to establish consistent user experience standards. I’ve led and advised teams through the adoption of design systems with comprehensive training, clear documentation, and a focus on continuous improvement of workflow and product quality.</p>
</section>

{% include "./roles/capital-one.role.njk" %}
{% include "./roles/authentic.role.njk" %}
{% include "./roles/captech.role.njk" %}
{% include "./roles/guidestar.role.njk" %}
{% include "./roles/guardianedge.role.njk" %}
{% include "./roles/maximus.role.njk" %}


