{% extends "job.snippet.njk" %}

{% block company %}Authentic{% endblock %}
{% block role %}Front End Developer{% endblock %}
{% block dates %}2015&ndash;2017{% endblock %}

{% block description %}
Authored HTML, CSS/SCSS, and JavaScript—compliant with best practices and standards for responsive mobile-first user interfaces—to ensure optimal presentation across multiple browsers and devices.
Delivered high-quality front-end code (HTML, CSS, JS) for websites driven by a Java-based CMS.
Collaborated with a team of front-end developers to establish a standard for enterprise front-end build architecture.
Independently learned Google Maps API to develop a custom JavaScript module to meet a customer need to present marked points of interest on a map illustration.
{% endblock %}