{% extends "job.snippet.njk" %}

{% block company %}Capital One{% endblock %}
{% block role %}UX Engineer{% endblock %}
{% block dates %}2017&ndash;2024{% endblock %}

{% block description %}
Led the creation of a pattern library for a business vertical, guiding designers and developers in consistent adoption of enterprise-wide design system standards.
Created reusable components in HTML, CSS/SCSS, and JavaScript for the enterprise design system with consideration for responsive web and WCAG accessibility compliance.
Identified and resolved bugs in design system components to maintain high quality and design specification compliance.
Authored Figma library components aligned with design system specifications and consistent with reusable code components.
Built a reputation as an expert in the enterprise design system through active participation in review committees and mentoring tech, design, and product teams on its adoption.
Developed front-end components in Angular for an internal associate-facing product, while mentoring peers on front-end engineering best practices and enterprise design system standards.
Crafted web applications utilizing a variety of JavaScript frameworks, including Vue.js, React, Angular, and Lit Web Components.
Collaborated with enterprise design system designers to design visual and behavioral specifications for design system components.
{% endblock %}