{% extends "job.snippet.njk" %}

{% block company %}CapTech Consulting{% endblock %}
{% block role %}Consultant{% endblock %}
{% block dates %}2014&ndash;2015{% endblock %}

{% block description %}
Developed HTML, CSS, and JavaScript prototypes for a client site to guide web application developers in best practices for responsive mobile-first web design.
Defined Google Analytics implementation for a client web site for optimal site tracking, and provided guidance to the client on how to utilize the Google Analytics reporting tools for monthly reporting.
{% endblock %}