{% extends "job.snippet.njk" %}

{% block company %}GuardianEdge Technologies{% endblock %}
{% block role %}Senior Software Developer{% endblock %}
{% block dates %}2005&ndash;2007{% endblock %}

{% block description %}
<ul>
<li>Served as Technical Lead on the team responsible for the launch of a new product, from gathering requirements through initial launch to customers.</li>
<li>Led a team of engineers for a major product upgrade to improve internal architecture while maintaining existing functionality and user experience.</li>
<li>Developed user interfaces features for Windows and web applications.</li>
<li>Designed and implemented modular components as part of an overall product architecture.</li>
</ul>
{% endblock %}