{% extends "job.snippet.njk" %}

{% block company %}GuardianEdge Technologies{% endblock %}
{% block role %}Senior Software Developer{% endblock %}
{% block dates %}2005&ndash;2007{% endblock %}

{% block description %}
Served as Technical Lead on the team responsible for the launch of a new product, from gathering requirements through initial launch to customers.
Led a team of engineers for a major product upgrade to improve internal architecture while maintaining existing functionality and user experience.
Developed user interfaces features for Windows and web applications.
Designed and implemented modular components as part of an overall product architecture.
{% endblock %}