{% extends "job.snippet.njk" %}

{% block company %}GuideStar USA, Inc.{% endblock %}
{% block role %}User Experience Architect{% endblock %}
{% block dates %}2007&ndash;2013{% endblock %}

{% block description %}
<ul>
<li>Constructed prototypes in HTML, CSS, and JavaScript to bridge the gap between requirements and code, and ensure compliance with web standards and best practices.</li>
<li>Restructured HTML and CSS for the company website to improve SEO and compliance with web standards such as responsive web and accessibility.</li>
<li>Expanded a proposed graphic design concept to define a complete site design for the launch of a new website.</li>
</ul>
{% endblock %}