{% extends "job.snippet.njk" %}

{% block company %}MAXIMUS{% endblock %}
{% block role %}Programmer/Analyst{% endblock %}
{% block dates %}2000&ndash;2005{% endblock %}

{% block description %}
Delivered high-quality code in multiple languages for web and Windows applications to meet contract requirements for external and internal customers.
Created technical and non-technical documentation to support the use and maintenance of software deliverables.
{% endblock %}