{% set siteTitle = config.author + ", " + config.role %}
{% if pageTitle %}
{% set title = siteTitle + " - " + pageTitle %}
{% else %}
{% set title = siteTitle %}
{% endif %}
<!doctype html>
<html lang="en">
  <head>
    <config charset="utf-8"></config>
    <config name="viewport" content="width=device-width, initial-scale=1.0"></config>
    <title>{{ title }}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet" />

	<link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
	<header>
		<img class="profile" src="/assets/reid-elizabeth.jpg" width="200" height="200" alt="Elizabeth is a caucasian female with shoulder length brown hair, blue eyes, and wearing glasses" />
		<h1 class="title">{{ siteTitle }}</h1>
		<nav>
			<ul>
				<li><a href="/">Introduction</a></li>
				<li><a href="/experience">Experience</a></li>
				<li><a href="/use-cases">Use Cases</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<main>
			{{ content | safe }}
		</main>
		<aside>
		</aside>
	</div>
	<footer>&copy; 2025 {{ config.author }}</footer>
  </body>
</html>