{% set siteTitle = config.author + ", " + config.role %}
{% if pageTitle %}
{% set title = siteTitle + " - " + pageTitle %}
{% else %}
{% set title = siteTitle %}
{% endif %}
<!doctype html>
<html lang="en">
  <head>
    <config charset="utf-8" />
    <config name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
	<header>
		<h1>{{ siteTitle }}</h1>
	</header>
	<main>
    	{{ content | safe }}
	</main>
	<footer>&copy; 2025 {{ config.author }}</footer>
  </body>
</html>