@use "sass:color";

$body-font: "Noto Sans", "Arial", sans-serif;
$heading-font: "Noto Sans", "Arial", sans-serif;

$profile-pic-width: 120px;
$profile-pic-allowance: $profile-pic-width + 24px;

$color-black-bean: #2E0F15;
$color-raisin-black: #272838;
$color-pine-green: #136F63;
$color-amber: #FFC43D;
$color-french-gray: #CFD1DD;

$color-outline: $color-french-gray;
$color-default: $color-raisin-black;
$color-current: $color-amber;
$color-hover: $color-pine-green;
$color-active: $color-hover;
$color-visited: $color-default;

body {
	background: white;
	color: $color-black-bean;
	font-family: $body-font;
	font-size: 16px;
}

body > header,
body > div.container,
body > footer {
	max-width: 1000px;
	margin: auto auto;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: 500;
	font-variation-settings: "wdth" 75;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

// Default links
a {
	background: transparent;
	color: $color-default;
	text-decoration: none;

	&:active {
		color: $color-active;
	}

	&:visited {
		color: $color-visited;
	}

	&:hover {
		color: $color-hover;
		text-decoration: underline;
	}		
}

// Main header content
body > header {
	display: grid;
	grid-template-columns: 120px 1fr;
	grid-template-rows: auto 1fr;
	grid-column-gap: 28px;
	grid-row-gap: 0px;
	margin-bottom: 0.6em;

	img.profile {
		grid-area: 1 / 1 / 3 / 2;
		width: $profile-pic-width;
		height: $profile-pic-width;
		border: 4px solid $color-black-bean;
		border-radius: 50%;
	}

	.title {
		grid-area: 1 / 2 / 2 / 3;
		font-size: 2.4em;
		line-height: 1em;
		padding: 0.6em 0 0.6em 0;
		margin: 0;
		border-bottom: 2px solid $color-black-bean;
	}

	nav {
		grid-area: 2 / 2 / 3 / 3;

		> ul {
			margin: 0;
			padding: 0;

			> li {
				display: inline-block;
				margin: 0;
				padding: 0;
		
				> a {
					display: inline-block;
					margin: 0 0.6em 0 0;
					padding: 0.4em;
					font-weight: 600;	

					background: transparent;
					color: $color-default;
					text-decoration: none;

					&:active {
						color: $color-active;
					}
		
					&:visited {
						color: $color-visited;
					}
		
					&.active {
						color: $color-default;
						background-color: $color-current;
					}
		
					&:hover {
						color: $color-hover;
						background-color: color.scale($color: $color-hover, $lightness: 90%);
					}					
				}
			}
		}
	}
}

// Main body
body > div.container {
	display: flex;
	flex-direction: row-reverse;

	main {
		width: calc(100% - $profile-pic-allowance);
	}
	
	aside {
		width: $profile-pic-allowance;
	}	
}

// Main footer
body > footer {
	margin-top: 2em;
	border-top: 2px solid $color-black-bean;
	padding-top: 0.5em;
}

// Tab control - default
.tab-control {
	.tab-set {
		border-bottom: 2px solid $color-outline;
		padding: 0 0.25em;

		.tab {
			display: inline-block;
			margin: 0 0.1em -2px 0.1em;
			border: 0;
			padding: 0.4em 1em;
			font-weight: 600;
			background: transparent;
			color: inherit;
			border-bottom: 2px solid $color-default;

			&:active {
				background-color: transparent;
				border-color: $color-active;
			}

			&:visited {
				background-color: transparent;
				border-color: $color-visited;
			}

			&.active {
				background-color: transparent;
				border-color: $color-current;
			}

			&:hover {
				background-color: color.scale($color: $color-hover, $lightness: 90%);
				border-color: $color-hover;
			}
		}
	}

	.tab-content {
		display: none;

		&.active {
			display: block;
		}
	}
}

// Accordion control - default
.accordion {
	margin: 0;
	border-top: 2px solid $color-outline;
	padding: 1em 0;

	.accordion-header {
		display: flex;
		justify-content: space-between;
		align-items: top;
		cursor: pointer;
		margin-bottom: 1em;
	}

	.accordion-title {
		font-size: 1.2em;
		margin: 0;
		padding: 0;
	}

	.accordion-eyebrow {
		margin: 0;
	}

	.accordion-subtitle {
		display: inline-block;
		vertical-align: middle;
		font-size: 1em;
		margin: 0;
		padding: 0;
	}

	.accordion-indicator {
		display: inline-block;
		vertical-align: middle;
		
		svg {
			width: 1.5em;
			height: 1.5em;
			vertical-align: middle;
		}
	}

	.accordion-body {
		height: 0;
		overflow: hidden;

		*:first-child {
			margin-top: 0;
		}

		*:last-child {
			margin-bottom: 0;
		}
	}

	&.open {
		.accordion-body {
			height: auto;
		}

		.accordion-indicator {
			transform: rotate(180deg);
		}
	}
}

// Card control - default 
ul.card-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.card {
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0;
	background: white;
	color: $color-black-bean;
	border: 1px solid $color-outline;
	filter: drop-shadow(2px 2px 1px $color-outline);
	 
	> a {
		display: inline-block;
		max-width: 200px;
		width: 100%;
		height: 100%;
		padding: 2em;				
	}
}

// Page layout
section.opening {
	margin-bottom: 2.4em;
}

table.comparison {
	border: 1px solid $color-outline;
	  border-spacing: 0;
	
	th, td {
		text-align: left;
		vertical-align: top;
		border-right: 1px solid $color-outline;
		padding: 0.5em 1em;
	}

	th:last-child, td:last-child {
	  border: none;
	}
	
	tr > *:first-child {
		display: none;
	}	
}

ul.image-list {
	text-align: center;
	margin: 2em 0 0 0;
	padding: 0;

	> li {
		display: inline-block;
		margin: 0;
		padding: 0 0.5em;
	}
}